# Python virtual environment
venv/
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code settings
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
